* {
    margin: 0;
    padding: 0;

    backface-visibility: hidden;
}

html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #023047;
    display: flex;
    justify-content: center;
   
    
}


#app {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #d8d8d8;
    padding: 0px 30px;
    margin: 0 auto;
}